<h1>This is the login page</h1>
<div></div>
<h5>Log in</h5>
<form method="post" action="/login/sign_in">
 <input type="text" name="li_user_name" placeholder="Username" />
 <input type="text" name="li_password" placeholder="Password" />
 <input type="submit" value="Submit" />
</form>
<div></div>
<h5>Sign up</h5>
<form method="post" action="/login/sign_up">
 <input type="text" name="su_user_name" placeholder="Sign up Username" />
 <input type="text" name="su_password" placeholder="Sign up Password" />
 <input type="text" name="su_email" placeholder="Sign up email" />
 <input type="submit" value="Sign up Submit" />
</form>
